body {
  background-image: url(https://i.pinimg.com/1200x/80/78/80/807880e0e126905c6c8f8c8f9fe032e9.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  text-align: center;
  margin-top: 80px;
}

.innerbox {
  font-size: 48px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #222;
  color: white;
}
.bg
{
  color:aliceblue;
}
